<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/signup_form.css}">
</head>


<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4><b>회원가입</b></h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post"> <!--action : /user/signup으로 데이터 보내라 post방식으로-->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" id="username" class="form-label"><h5><b>사용하실 사용자ID를 입력하세요.</b></h5></label>
            <input type="text" th:field="*{username}" class="form-control"><br>
        </div>
        <div class="mb-3">
            <label for="password1" id="password1" class="form-label"><h5><b>비밀번호를 입력하세요.</b></h5></label>
            <input type="password" th:field="*{password1}" class="form-control"><br>
        </div>
        <div class="mb-3">
            <label for="password2"   id="password2" class="form-label"><h5><b>비밀번호를 다시 입력하세요.</b></h5></label>
            <input type="password" th:field="*{password2}" class="form-control"><br>
        </div>
        <div class="mb-3">
            <label for="email"  id="email" class="form-label"><h5><b>이메일을 입력하세요.</b></h5></label>
            <input type="email" th:field="*{email}" class="form-control"><br>
        </div>
        <div class="mb-3">
            <label><h5><b>성별을 체크해주세요.</b></h5></label>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">남성</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">여성</label><br>

        </div>
        <div class="mb-3">
            <label for="birthdate"><h5><b>생년월일을 입력하세요.</b></h5></label>
            <input type="date" id="birthdate" name="birthdate" required><br><br><br>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>

<!--
1.<div layout:fragment="content" class="container my-3">: 이 div 요소는 레이아웃 템플릿의 "content" 프래그먼트를 정의합니다.
이 프래그먼트는 실제 페이지 콘텐츠를 감싸는 역할을 합니다.
"container my-3" 클래스는 부트스트랩(Bootstrap) CSS 클래스로, 컨텐츠를 가운데 정렬하고 여백을 추가하는 역할을 합니다
2.<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">: 폼 요소를 정의합니다.
th:action은 폼이 제출될 때 요청이 전송되는 URL을 설정하고, th:object는 폼 데이터를 바인딩할 객체를 지정합니다.
 이 폼은 POST 메서드로 데이터를 서버로 전송
 3.입력 필드는 <input> 요소를 사용하여 정의되며, 사용자가 사용자 이름, 비밀번호, 비밀번호 확인, 이메일을 입력할 수 있도록 합니다.
 th:field 속성은 입력 필드와 데이터 객체의 필드를 연결합니다-->