<!doctype html>
  <html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
      <!-- sbb CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
      <title>Hello, sbb!</title>
    </head>
        <body>
        <!--navbaR-->
        <nav th:replace="~{navbar :: navbarFragment}"></nav>
        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        <th:block layout:fragment="content"></th:block>
        <!-- 기본 템플릿 안에 삽입될 내용 End -->

        <!--Bootstrap JS-->
        <script th:src="@{/bootstrap.min.js}"></script>
        </body>
  </html>
<!--이 템ㅁ플릿은 모든 템플릿이 상속해야 하는 템플릿으로 표준 틀이된다.
layout.html템플릿을 상속하면 <th:block layout:fragment="content"></th:block>부분만 작성해도 된다. -->