* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;

}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: url(https://img.freepik.com/free-vector/gradient-grainy-gradient-texture_23-2148973447.jpg?w=1800&t=st=1698482136~exp=1698482736~hmac=dd7b1b87c6e0774fa24742d95de2ffaa5740b0cc5f1be3d4f6f2bb76813f1c5e) center/cover no-repeat fixed;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    margin-left: 450px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #44c7f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007BFF;
}